kafka:
  host: esb.u2035dev.ru
  port: 9092
  topics: 
      - topic1
      - topic2

consumers:
  - host: localhost
    port: 8090
    protocol: http
    url: /carrier-django/callback/
  - host: localhost
    port: 8091
    protocol: http
    url: /carrier-django/callback/

mysql:
  database: carrier
  user: root
  password: root
  host: localhost
  port: 3306
  minsize: 5
  maxsize: 10

email:
  host: smtp.localhost
  port: 465
  auth_required: no
  username: ""
  password: ""
  email_to_notify: admin@domain.com

token: secret_token
host: 0.0.0.0
port: 8080
debug: yes
period_to_resend: 10
resend_limit: 5